body{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url("../assets/img/fondo.jpg") repeat;
	/*background-color:#3E4F4F;*/
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 100px;
	float: left;
}
#light1{
	margin-top: -115px;
	margin-left: -750px;
}
#light2{
	margin-top: -130px;
	margin-left: 735px;
}
section{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	float: left;
}
#left{
	/*background-color: #0f0;*/
	width: 25%;
	height: 500px;
	float: left;
}
#center{
	/*background-color: #f0f;*/
	width: 50%;
	height: 500px;
	float: left;
}
#right{
	/*background-color: #0ff;*/
	width: 25%;
	height: 500px;
	float: left;
}
canvas{
	border: 2px solid #27292B;
	background: #011224;
}
#shadow{
	margin-top: -8px;
	margin-left: 15px;
	position: relative;
}
#logo{
	margin-top: -70px;
	margin-left: 100px;
	width: 300px;
}
#score{
	margin-top: -40px;
	margin-left: 50px;
}
#scoreNum{
	margin-top: -41px;
	margin-left: 280px;
}
#lives{
	margin-left: 40px;
}
#livesNum{
	margin-top: -42px;
	margin-left: 280px;
}
h1{
	font-family: penstriped;
	color: #A2B2C8;
}
.info{
	text-shadow: 2px 2px 2px #888;
	font-family: divertida;
	color: #DFE1E4;
}
@font-face {
	font-family: penstriped;
	src: url('../assets/font/penstriped.ttf');
}
@font-face {
	font-family: divertida;
	src: url('../assets/font/playtime.ttf');
}
table {
	width: 300px;
	background: rgba(255, 255, 255, 0.15);
	border-collapse: collapse;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: divertida;
	/*border-radius:15px;*/
}
th{
	background: rgba(3, 33, 73, 0.15);
	/*color: #D6DFE9;*/
	padding: 5px 10px;
	/*border-radius:15px;*/
	color: #9EA8B3;
}
td{
	padding: 5px;
	padding-left: 10px;
	/*color: #CCD6E1;*/
	/*border-top: 1px solid #2C4969;*/
	color: #1E1E2A;
}
td:nth-child(2n),
td:nth-child(3n){
	/*border-left: 1px solid #2C4969;*/
}
td:nth-child(2n):hover,
td:nth-child(3n):hover{
	/*background: rgba(125, 55, 255, 0.55);*/
	background-size: 26px 26px;
}
td:hover{
	background-size: 26px 26px;
}

/*        Intento fallido
        Al tener el borde inferior tabla redondeado, esto hace que en las filas impares
        muestre las esquinas. Solucionado con JQuery dentro de PHP más abajo.*/

tr:nth-child(2n) {
   	background: rgba(255, 255, 255, 0.15);
}