body{
	width: 980px;
	margin: 0 auto;
	text-align: center;
	background: url("../assets/img/fondo.jpg") repeat;
	/*background-color:#3E4F4F;*/
	color: #A2B2C8;
}
canvas{
	border: 2px solid #27292B;
	background: #011224;
}
#img1{
	position: absolute;
	margin-top: -115px;
	margin-left: -40px;
}
#img2{
	position: absolute;
	margin-top: -115px;
	margin-left: 735px;
}
#img3{
	position: absolute;
	margin-top: 302px;
	margin-left: 15px;
}
#img4{
	position: absolute;
	margin-top: -80px;
	margin-left: -300px;
	width: 300px;
}
@font-face {
	font-family: penstriped;
	src: url('../assets/font/penstriped.ttf');
}
@font-face {
	font-family: divertida;
	/*src: url('../assets/font/segoeprint.ttf');*/
	src: url('../assets/font/playtime.ttf');
}
h1{ font-family: penstriped; }
h3{ font-family: divertida; }
#score{
	text-shadow: 2px 2px 2px #888;
}
table {
	margin: -350px 0 0 800px;
	width: 300px;
	background: rgba(255, 255, 255, 0.15);
	border-collapse: collapse;

	/*border-radius:15px;*/
}
th{
	background: rgba(3, 33, 73, 0.15);
	/*color: #D6DFE9;*/
	padding: 5px 10px;
	/*border-radius:15px;*/
	color: #86919E;
}
td{
	padding: 5px;
	padding-left: 10px;
	/*color: #CCD6E1;*/
	/*border-top: 1px solid #2C4969;*/
	color: #272732;
}
td:nth-child(2n),
td:nth-child(3n){
	/*border-left: 1px solid #2C4969;*/
}
td:nth-child(2n):hover,
td:nth-child(3n):hover{
	/*background: rgba(125, 55, 255, 0.55);*/
	background-size: 26px 26px;
}
td:hover{
	background-size: 26px 26px;
}

/*        Intento fallido
        Al tener el borde inferior tabla redondeado, esto hace que en las filas impares
        muestre las esquinas. Solucionado con JQuery dentro de PHP más abajo.*/

tr:nth-child(2n) {
   	background: rgba(255, 255, 255, 0.15);
}